div{
    align-items: center;
}

body{
   
    background-color: black;
}
marquee{
    color: cyan;
    font-size: 40px;
}
div{
    margin: 10px;
    padding: 10px;
    align-items: center;
}
#clk{
    border: 2px solid blueviolet;
    color: white;
    align-items: center;
    font-size: 70px;
    display: inline-block;
}